<div class="container">
    <ul class="list-group list-group-horizontal">

        <li class="list-group-item flex-fill text-center bg-dark mt-5">
            <p class="text-light">Retrouvez moi sur <a href="https://github.com/Gael-Dedenis/blog-jean-forteroche" class="text-light" title="Github">Github <i class="fab fa-github"></i></a>
        </li>

        <li class="list-group-item flex-fill text-center bg-dark mt-5">
            <a href="{{ url('politique') }}" class="text-light" title="politique">Politique de confidentialité</a>
        </li>

    </ul>
</div>

<p class="container text-center">
    Site fictif créer dans le cadre de la formation Développeur Web Junior pour OpenClassRooms, par Gaël Dedenis.<br>
    <a href="https://fr.freepik.com/photos/voyage">Photo créé par freepik - fr.freepik.com</a>
</p>


