<footer>

    <ul>

        <li>
            <p>Retrouvez moi sur <a href="https://github.com/Gael-Dedenis/blog-jean-forteroche" title="Github">Github <i class="fab fa-github"></i></a>
        </li>
        <li>
            <a href="../public/politique_conf.php" title="Politique de confidentialité"> Politique de confidentialité </a>
        </li>

    </ul>

    <p>
        Site fictif créer dans le cadre de la formation Développeur Web Junior pour OpenClassRooms, par Gaël Dedenis.
    </p>

</footer>