<p class="text-center text-light">
    Site fictif créer dans le cadre de la formation Développeur Web Junior pour OpenClassRooms, par Gaël Dedenis.<br>
    <a href="https://fr.freepik.com/photos/voyage">Photo créé par freepik - fr.freepik.com</a>
</p>


