h1,
h2,
h3,
h4,
blockquote p {
  font-family: 'Dancing Script', cursive;
}

h3 {
  padding-top: 15px;
  min-height: 80px;
}

blockquote p {
  font-size: 25px;
}

.hight-margin {
  margin-top: 13vh;
  margin-bottom: 4vh;
}

.medium-margin {
  margin-top: 3vh;
  margin-bottom: 7vh;
}

.small-margin {
  margin-top: 3vh;
  margin-bottom: 5vh;
}

.hight-margin-b {
  margin-bottom: 23vh;
}

.height-min {
  min-height: 600px;
}

.height-min-xl {
  min-height: 850px;
}

.max-width-img {
  max-width: 350px;
}

.text-underline {
  text-decoration: underline;
}
