h1,
h2,
h3,
h4,
blockquote p {
  font-family: 'Dancing Script', cursive;
}

h3 {
  padding-top: 15px;
  min-height: 80px;
}

blockquote p {
  font-size: 25px;
}

.mg-y {
  margin-top: 25px;
  margin-bottom: 30px;
}

.hight-mg-y {
  margin-top: 40px;
  min-height: 600px;
}

.max-width-img {
  max-width: 350px;
}

.bg-my-lightblue {
  background-color: #e3f2fd;
}

.text-underline {
  text-decoration: underline;
}
