h1,
h2,
h3,
h4,
blockquote p {
  font-family: 'Dancing Script', cursive;
}

h3 {
  padding-top: 15px;
  min-height: 80px;
}

blockquote p {
  font-size: 25px;
}

.h-min-xl {
  min-height: 900px;
}

.h-120px {
  height: 120px;
}

.text-underline {
  text-decoration: underline;
}

.contact-m {
  margin-top: 6vh;
  margin-bottom: 6vh;
}

.contact-m-c {
  margin-top: 6vh;
  margin-bottom: 6vh;
}

.connexion-m {
  margin-top: 6vh;
  margin-bottom: 6vh;
}

.connexion-m-c {
  margin-top: 6vh;
  margin-bottom: 6vh;
}

.account-m {
  margin-top: 6vh;
  margin-bottom: 6vh;
}

.account-m-c {
  margin-top: 6vh;
  margin-bottom: 6vh;
}

/* ++++++++++++++++++++++++++++  Breakpoint à 768px  ++++++++++++++++++++++++++++ */

@media screen and (min-width: 768px) {

  .contact-m {
    margin-top: 7vh;
    margin-bottom: 3vh;
  }

  .contact-m-c {
    margin-top: 6vh;
    margin-bottom: 6vh;
  }

  .connexion-m {
    margin-top: 13vh;
    margin-bottom: 3vh;
  }

  .connexion-m-c {
    margin-top: 6vh;
    margin-bottom: 17vh;
  }

  .account-m {
    margin-top: 10vh;
    margin-bottom: 3vh;
  }

  .account-m-c {
    margin-top: 6vh;
    margin-bottom: 17vh;
  }

}

/* ++++++++++++++++++++++++++++  Breakpoint à 1920px  ++++++++++++++++++++++++++++ */

@media screen and (min-width: 1920px) {

  .contact-m {
    margin-top: 9vh;
    margin-bottom: 2vh;
  }

  .contact-m-c {
    margin-top: 6vh;
    margin-bottom: 10vh;
  }

  .connexion-m {
    margin-top: 18vh;
    margin-bottom: 3vh;
  }

  .connexion-m-c {
    margin-top: 6vh;
    margin-bottom: 17vh;
  }

  .account-m {
    margin-top: 6vh;
    margin-bottom: 3vh;
  }
  
  .account-m-c {
    margin-top: 6vh;
    margin-bottom: 20vh;
  }

}

/* ++++++++++++++++++++++++++++  Breakpoint à 2560px  ++++++++++++++++++++++++++++ */

@media screen and (min-width: 2560px) {

  .contact-m {
    margin-top: 14vh;
    margin-bottom: 2vh;
  }

  .contact-m-c {
    margin-top: 6vh;
    margin-bottom: 16.6vh;
  }

  .create-m {
    margin-top: 8vh;
    margin-bottom: 9vh;
  }

  .modify-m {
    margin-top: 8vh;
    margin-bottom: 9vh;
  }

  .connexion-m {
    margin-top: 17vh;
    margin-bottom: 3vh;
  }

  .connexion-m-c {
    margin-top: 6vh;
    margin-bottom: 28vh;
  }

  .account-m {
    margin-top: 10vh;
    margin-bottom: 3vh;
  }
  
  .account-m-c {
    margin-top: 6vh;
    margin-bottom: 30vh;
  }

}