{% extends "layout/layout.twig" %}

{% block title %}

    Administration modification de chapitre

{% endblock %}

{% block header %}

    <h1 class="mt-5 mb-5 text-center text-underline">Modifier un chapitre</h1>

{% endblock %}

{% block content %}

    <div class="container modify-m p-3 border border-secondary rounded-lg text-center shadow-lg">

        <form class="form-group" action="{{ url('posts!modify') }}" method="post">

            <div class="form-group col-6 offset-3">

                <label for="chapter_title" class="col-sm-4 col-form-label">Titre du chapitre</label>
                <input type="text" class="form-control" id="chapter_title" name="chapter_title" placeholder="Titre" value="{{ chapterToModify.title|raw }}" required>

            </div>

            <div class="form-group">

                <label for="chapter_content">Contenu du chapitre</label>

                <textarea id="chapter_content" name="chapter_content"> {{ chapter_content|raw }} </textarea>

            </div>

            <div class="d-none">
                <label for="chapter_id">Id du chapitre</label>
                <input type="text" class="" id="chapter_id" name="chapter_id" value="{{ chapterToModify.id }}">
            </div>

            <input type="submit" class="btn btn-outline-primary mt-4" value="Modifier le chapitre">

        </form>

    </div>

{% endblock %}