{% extends "layout/layout.twig" %}

{% block title %}

    A propos de Jean Forteroche.

{% endblock %}

{% block header %}

    <h1 class="min-margin text-center text-underline mb-5 mt-5"> Jean Forteroche</h1>

{% endblock %}

{% block content %}

    <section class="p-4 mt-5 mb-5">

        <div class="container border border-secondary rounded-lg shadow-lg height-min-xl">
            <h2 class="mt-5 mb-5 text-center">A propos de moi</h2>

                <article class="row justify-content-around">

                    <figure class="col-1 max-width-img">
                        <img src="../public/images/jean-forteroche.jpg" class="img-fluid rounded-lg mg-y" alt="Portrait de Jean Forteroche.">
                    </figure>

                    <p class="col-6 mb-5">
                        Je m'appel Jean Forteroche et j'écris chacune de mes aventures sous formes de romans. Depuis ma jeunesse, je me suis pris de passion pour les voyages et la nature.<br>
                        Ayant avant travailler comme biologiste ainsi que journaliste scientifique, j'ai entrepris de transformer mes voyages et mon travails en romans.<br>
                        Mes nombreux romans ont retranscrits mes aventures à travers le monde. L'Australie, l'Asie du Sud, l'Amérique du Sud, l'Antartic...et maintenant l'Alaska.<br>
                        J'ai décidé de passer mon prochain roman "Billet simple pour l'Alaska" sous forme de e-book, pour le mettre à disposition du plus grand nombres de mes lecteurs. Chaque semaines, retrouvez un nouveau chapitre, mélant mes aventures et mon imagination.<br>
                        Pour en finir à mon sujet à la fin de ce dernier voyage, je lancerai toute une série d'interviews pour raconter l'élaboration de cet e-book et l'organisation de mes aventures.
                    </p>

                    <blockquote class="mt-5">
                        <p>
                            Nul ne peut imaginer comment un voyage peu changer l'esprit d'un homme.
                        </p>
                        <footer> -Jean Forteroche.
                    </blockquote>

                </article>
        </div>

    </section>

{% endblock %}
