{% extends "layout/layout.twig" %}

{% block title %}

    Touts les chapitres -Billet simple pour l'Alaska.

{% endblock %}

{% block header %}
    <div class="container-md">

        <h1 class="mg-y text-center">Tous les chapitres -Billet simple pour l'Alaska</h1>

        <figure class="container border border-primary rounded-lg bg-my-lightblue">
            <img src="../public/images/into_the_wild.jpg" class="img-fluid rounded-lg mg-y" alt="Photo du célèbre bus de 'Into the wild' en Alaska.">
            <figcaption>
                <blockquote>
                    <p>
                        Un premier pas vers l'inconnu, peut entrainer des magnifiques voyages.
                    </p>
                    <footer> -Jean Forteroche, Billet simple pour l'Alaska
                </blockquote>
            </figcaption>
        </figure>

    </div>
{% endblock %}

{% block content %}
    <section class="container">

        <h2 class="mg-y text-center text-underline">Sélectionnez le chapitre que vous voulez lire:</h2>

        <div class="col-3 offset-4 mt-5">
            <ul class="list-group list-group-flush">

                {% for post in posts %}

                    <li class="list-group-item">
                        <a href="{{ url('selectedpost', {'id': post.id}) }}">{{ post.title }}</a>
                    </li>

                {% endfor %}

            </ul>
        </div>

    </section>

{% endblock %}