{% extends "layout/layout.twig" %}

{% block title %}

    Connexion

{% endblock %}

{% block header %}

    <h1 class="mg-y text-center text-underline hight-margin">Se connecter</h1>

{% endblock %}

{% block content %}

    <section class="container text-center hight-margin-b border border-secondary rounded-lg shadow-lg p-4">

        <form method='post' action='{{ url("user") }}' class="form-group">

            <div class="form-group col-6 offset-3">

                <label for="email" class="col-sm-4 col-form-label">email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="john@doe.gmail" required>

            </div>

            <div class="form-group col-6 offset-3">

                <label for="pass" class="col-sm-4 col-form-label">Mot de passe</label>
                <input type="password" class="form-control" id="pass" name="pass" autocomplete="off" required>

            </div>

            <input type="submit" value="Connexion" class="btn btn-primary mt-2 mb-5">

        </form>

        <h2 class="mg-y small-margin">Pas de compte ?</h2>
        <p>Créez un compte <a href='{{ url("user!create") }}'>ici</a>.</p>

    </section>

{% endblock %}