{% extends "layout/layout.twig" %}

{% block title %}

    Contact

{% endblock %}

{% block header %}

    <h1 class="mg-y text-center hight-margin">Me contacter</h1>

{% endblock %}

{% block content %}

    <section class="container text-center hight-margin-b border border-secondary rounded-lg shadow-lg p-4">

        <form class="form-group" action="{{ url('contact!default') }}" method="POST" enctype="multipart/form-data">

            <div class="form-group col-8 offset-2">

                <label for="pseudo" class="col-sm-8 col-form-label">Votre pseudo</label>
                <input type="text" class="form-control" id="pseudo" name="pseudo" placeholder="john-doe01" required>

            </div>

            <div class="form-group col-8 offset-2">
 
                <label for="email" class="col-sm-8 col-form-label">Votre mail</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="john@doe.gmail" required>

            </div>

            <div class="form-group col-8 offset-2">

                <label for="message" class="col-sm-8 col-form-label">Votre message</label>
                <textarea id="message" class="form-control" name="message" placeholder="Votre message" rows="6" cols="120"></textarea>

            </div>

            <button type="submit" class="btn btn-primary">Envoyer</button>

        </form>

    </section>

{% endblock %}