{% extends "layout/layout.twig" %}

{% block title %}

    Billet Simple pour l'Alaska - par Jean Forteroche

{% endblock %}

{% block header %}

    <div class="container-sm">
        <h1 class="text-center text-underline mt-5 mb-5">Bienvenue sur le blog de Jean Forteroche</h1>

        <figure class="container border border-secondary shadow-lg p-4 rounded-lg">
            <img src="../public/images/into_the_wild.jpg" class="img-fluid rounded-lg mg-y" alt="Photo du célèbre bus de 'Into the wild' en Alaska.">
            <figcaption>
                <blockquote>
                    <p>
                        Un premier pas vers l'inconnu, peut entrainer des magnifiques voyages.
                    </p>
                    <div> -Jean Forteroche, Billet simple pour l'Alaska </div>
                </blockquote>
            </figcaption>
        </figure>
    </div>

{% endblock %}

{% block content %}

    <section class="container-fluid mt-5 mb-3">

        <h2 class="text-center text-underline mb-3">Voici les trois derniers chapitres pour Billet Simple pour l'Alaska</h2>

            <article class="row">
                {% for post in posts|reverse|slice(0, 3) %}

                    <div class="col-12 col-lg-4 p-5">
                        <div class="border border-secondary rounded-lg shadow-lg p-3">
                            <h3 class="border border-primary rounded-lg text-primary text-center text-underline">{{ post.title }}</h3>
                            <p>
                                    {{ post.content|raw }}
                            </p>
                        </div>
                    </div>

                {% endfor %}
            </article>
    </section>

{% endblock %}

{% block script %}{% endblock %}

